{% macro section_pill(pill_class, label_html) -%}<em class="pill {{ pill_class }}">{{ label_html }}</em>{%- endmacro %}
{% macro boolean_badge(label_html, badge_class) -%}<span class="{{ badge_class }}">{{ label_html }}</span>{%- endmacro %}
