<{{ page.wrapper_tag }}{% if page.wrapper_class %} class="{{ page.wrapper_class }}"{% endif %}{% if page.fragment_id_html %} id="{{ page.fragment_id_html }}"{% endif %}><h{{ page.heading_level }}>{{ page.title_html }}</h{{ page.heading_level }}>{{ page.body_html }}</{{ page.wrapper_tag }}>
