<details class="{{ page.wrapper_class }}"{% if page.fragment_id_html %} id="{{ page.fragment_id_html }}"{% endif %}{% if page.open_details %} open{% endif %}><summary>{{ page.title_html }}{{ page.marker_html }}</summary><div>{{ page.purpose_html }}{{ page.body_html }}{{ page.note_html }}</div></details>
