<div class="{{ page.classes_html }}" id="{{ page.block_id_html }}" data-block-type="{{ page.block_type_html }}"><h3>{{ page.title_html }}{{ page.marker_html }}</h3>{{ page.purpose_html }}{{ page.body_html }}{{ page.note_html }}</div>
