<section id="decision_register">{{ page.section_heading_html }}{{ page.disposition_summary_heading_html }}{{ page.disposition_summary_table_html }}{{ page.disposition_heading_html }}{{ page.disposition_table_html }}{% if page.has_human_overrides %}{{ page.human_overrides_heading_html }}{{ page.human_overrides_table_html }}{% endif %}{% if page.has_amendments %}{{ page.amendments_heading_html }}{{ page.amendments_table_html }}{% endif %}</section>
