<section id="procedure_derived_audit_blocks">{{ page.overview_heading_html }}{{ page.intro_html }}{% if page.overview %}{{ page.overview.card_html }}{% endif %}{{ page.run_packets_heading_html }}{% for packet in page.run_packets %}{{ packet.packet_heading_html }}{% for block in packet.blocks %}{{ block.card_html }}{% endfor %}{% endfor %}{{ page.aggregate_heading_html }}{% for block in page.aggregate_blocks %}{{ block.card_html }}{% endfor %}</section>
