<div class="plot" data-vega-block="{{ page.block_id_html }}">
  <div class="vega-fallback">{{ page.fallback_html }}</div>
  <div id="{{ page.block_id_html }}" class="vega-chart" aria-label="{{ page.label_html }}"></div>
  {{ page.legend_html }}
  <script type="application/json" id="{{ page.block_id_html }}-spec">{{ page.spec_json }}</script>
</div>
